body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: -1;
}
.navbar-blur {
    background-color: rgba(255, 255, 255, 0.10); /* Adjust the transparency as needed */
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    
}
.card-blur {
    background-color: rgba(85, 85, 85, 0.6); /* Adjust the transparency as needed */
    backdrop-filter: blur(1px); /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(1px); /* For Safari */
    
}