/* App.css */

/* Header */
.header {
	@apply justify-between h-[46px] bg-(--mainground);
	padding: 5px 1px;
}

.header svg {
	height: 32px;
	cursor: pointer;
}

.header .time {
	display: grid;
	grid-auto-flow: column;
	max-width: 700px;
	margin: auto;
	color: var(--color-text);
	font-size: 30px;
	font-family: monospace;
	text-align: center;
	line-height: normal;
}

/* Main */

main {
	background: var(--mainground);
	margin: 12px 0;
	padding: 5px;
}

@media screen and (min-width: 550px) {
	main {
		margin: 12px;
	}
}
@media screen and (min-width: 1500px) {
	main {
		font-size: 18px;
	}
}
@media screen and (min-width: 1900px) {
	main {
		font-size: 20px;
	}
}
@media screen and (min-width: 2600px) {
	main {
		font-size: 24px;
	}
}
