name: DNSControl

on:
    push:
        branches: [main]
        paths:
            - "dnsconfig.js"

    workflow_dispatch:

concurrency:
    group: ${{ github.ref }}-publish
    cancel-in-progress: false

jobs:
    tests:
        name: Tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: is-a-dev/dnscontrol-action@main
              with:
                  args: check
